.footer {
  background-color: #000;
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem 0;
  // height: 3rem;

  &__ {
    &container {
      align-items: baseline;
      display: grid;
      grid-template-columns: 1fr 100px;
      width: 100%;
    }

    &item {
      display: inline-block;

      &:first-child {
        margin-right: 1rem;
      }
    }

    &link {
      color: #fff;
      cursor: pointer;
      font-size: 1.5rem;
      text-decoration: none;
    }

    &nav {
      justify-items: end;
    }
  }
}
