<footer class="footer">
  <app-painel-central>
    <div class="footer__container">
      <p>Desenvolvido por Jonas Sene Torres</p>
      <nav class="footer__nav">
        <ul>
          <li class="footer__item">
            <a class="footer__link" href="https://www.linkedin.com/in/jonas-sene-torres/" target="_blank">
              <span class="socicon-linkedin icon-lg"></span>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="https://github.com/JonasSeneTorres" target="_blank">
              <span class="socicon-github"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </app-painel-central>
</footer>
