<section class="seguro">

  <div class="seguro__container-botao">
    <h1 class="seguro__titulo"><span class="fa fa-file-text" aria-hidden="true"></span> Seguros</h1>
    <a class="seguro__link" [routerLink]="['/seguro/novo']">Novo</a>
  </div>

  <div class="seguro__ctabela">
    @if (processando) {
      <app-spinner />
    } @else {
      <table class="seguro__tabela">
        <thead>
          <tr>
            <td>Id</td>
            <td>Marca</td>
            <td>Modelo</td>
            <td>Valor Veiculo</td>
            <td>Valor Seguro</td>
            <td>Segurado</td>
            <td>Idade</td>
            <td style="width: 58px;"></td>
          </tr>
        </thead>
        <tbody>
          @if (lista.length === 0) {
            <tr><td class="center" colspan="8">Não há nenhum registro no momento</td></tr>
          }
          @else {
            @for (item of lista; track item.seguroId) {
              <tr>
                <td>{{ item.seguroId }}</td>
                <td>{{ item.veiculoMarca }}</td>
                <td>{{ item.veiculoModelo }}</td>
                <td>{{ item.valorDoVeiculo | currency:'BRL' }}</td>
                <td>{{ item.valorDoSeguro | currency:'BRL' }}</td>
                <td>{{ item.seguradoNome }}</td>
                <td>{{ item.seguradoIdade }}</td>
                <td class="center">
                  <button type="button" class="seguro__botao_editar" [routerLink]="['editar', item?.seguradoId]">
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="seguro__botao_cancelar" (click)="openDialog(item)">
                    <span class="fa fa-times" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
  </div>
</section>
