<nav class="barra">
    <ul>
      <li class="barra__item">
        <a class="barra__link" [routerLink]="['/segurado']" routerLinkActive="barra__link--active">
          Segurados
        </a>
      </li>
      <li class="barra__item">
        <a class="barra__link" [routerLink]="['/seguro']" routerLinkActive="barra__link--active">
          Seguros
        </a>
      </li>
      <li class="barra__item">
        <a class="barra__link" [routerLink]="['/veiculo']" routerLinkActive="barra__link--active">
          Veiculos
        </a>
      </li>
    </ul>
  </nav>
