<section class="segurado">

  <div class="segurado__container-botao">
    <h1 class="segurado__titulo"><span class="fa-solid fa-person"></span> Segurados</h1>
    <a class="segurado__link" [routerLink]="['/segurado/novo']">Novo</a>
  </div>

  <div class="segurado__ctabela">
    @if (processando) {
      <app-spinner />
    } @else {
      <table class="segurado__tabela">
        <thead>
          <tr>
            <td style="width: 58px;">Id</td>
            <td>Nome</td>
            <td style="width: 150px;">CPF</td>
            <td style="width: 150px;">Data de Nascimento</td>
            <td style="width: 58px;">Idade</td>
            <td style="width: 58px;"></td>
          </tr>
        </thead>
        <tbody>
          @if (lista.length === 0) {
            <tr><td class="center" colspan="6">Não há nenhum registro no momento</td></tr>
          }
          @else {
            @for (item of lista; track item.seguradoId) {
              <tr>
                <td>{{ item?.seguradoId }}</td>
                <td>{{ item?.nome }}</td>
                <td>{{ item?.cpf | cpf }}</td>
                <td>{{ item?.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item?.idade }}</td>
                <td class="center">
                  <button type="button" class="segurado__botao_editar" [routerLink]="['editar', item?.seguradoId]">
                    <span class="fa fa-pencil" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="segurado__botao_cancelar" (click)="openDialog(item)">
                    <span class="fa fa-times" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
  </div>
</section>
